.container {
  display: flex;
  .left {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    padding-top: 44px;
    .help {

      display: flex;
    }
  }
}

.scope-var {
  .scope-var-hotkey {
    input {
      width: 30px;
    }
  }
  .scope-var-value {
  }
}

.canvas {
  //border: 1px solid red;
  display: flex;
}

#video {
  display: none;
}